/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.myapp-no-padding-dialog .mat-dialog-container {
  padding: 0;
}

.cargando-flotante-input{
    /*
    para que eso funcione se tiene que poner el cargando justo debajo de la etiqueta input,
    ademas el input debe estar en un contenedor div.col
    */
    position: absolute;
    top: 4px;
    right: 25px;
  }

  